<!DOCTYPE html>
<html>
<head>
<title>Project 1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
  {% include "navbar.html"%}

      <p  style="text-align:center">
        This is our django stack.!<br>
        Team Members:<br>
        1. Manavi <br>
        2. Manohar<br>
        3. Rohit  <br>
     </p>
</body>
</html>