<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Project 1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
    {% include "navbar.html"%}
<form method="POST" class="post-form" action="/update/{{inventory.id}}" enctype="multipart/form-data">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Name: </label>  
    <div class="col-sm-4">  
        <input type="text" name="ename" id="id_ename" required maxlength="20" value="{{ inventory.ename }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Description: </label>  
    <div class="col-sm-4">  
        <input type="text" name="edescription" id="id_edescription" required maxlength="100" value="{{ inventory.edescription }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Date: </label>  
    <div class="col-sm-4">  
        <input type="text" name="edate" id="id_edate" required maxlength="20" value="{{ inventory.edate }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Approximate Value: </label>  
    <div class="col-sm-4">  
        <input type="text" name="eavalue" id="id_eavalue" required maxlength="100" value="{{ inventory.eavalue }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Insurance Value: </label>  
    <div class="col-sm-4">  
        <input type="text" name="eivalue" id="id_eivalue" required maxlength="100" value="{{ inventory.eivalue }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Photo: </label>  
    <div class="col-sm-4">  
        {% comment %} <input type="text" name="ephoto" id="id_ephoto" required maxlength="100" value="{{ inventory.ephoto }}" />   {% endcomment %}
        <input type="file" name="upload" accept=".png, .jpg" src="{{ inventory.ephoto.url }}">
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>